.flex {
	display: flex;
}
.flex-col {
	flex-direction: column;
}

.grid1 {
	flex:1;
}

.grid2 {
	flex:2;
}

.grid3 {
	flex:3;
}

.grid4 {
	flex:4;
}

.grid5 {
	flex:5;
}

.grid6 {
	flex:6;
}

.grid7 {
	flex:7;
}

.grid8 {
	flex:8;
}

.grid9 {
	flex:9;
}

.grid10 {
	flex:10;
}

.grid11 {
	flex:11;
}

.grid12 {
	flex:12;
}

.grid13 {
	flex:13;
}

.grid14 {
	flex:14;
}

.grid15 {
	flex:15;
}

