.flex {
	display: flex;
}
.flex-col {
	flex-direction: column;
}

.grid-16-1 {
	flex:1;
}

.grid-16-2 {
	flex:2;
}

.grid-16-3 {
	flex:3;
}

.grid-16-4 {
	flex:4;
}

.grid-16-5 {
	flex:5;
}

.grid-16-6 {
	flex:6;
}

.grid-16-7 {
	flex:7;
}

.grid-16-8 {
	flex:8;
}

.grid-16-9 {
	flex:9;
}

.grid-16-10 {
	flex:10;
}

.grid-16-11 {
	flex:11;
}

.grid-16-12 {
	flex:12;
}

.grid-16-13 {
	flex:13;
}

.grid-16-14 {
	flex:14;
}

.grid-16-15 {
	flex:15;
}

